{% extends('layout.html') %}

{% block content %}
  <div>
    <div><h1>{{ employer['name']</h1></div>
    <div class="description">
      <p>{{employer['description']}}</p>
    </div>
  </div>

  <h2>Jobs</h2>

  <h2>Reviews</h2>
    {# TODO: Remove comment and add for loop
      {% %}
    #}
    <div class="box">
      <article class="media">
        <div class="media-left">
        </div>
        <div class="media-content">
          <div class="content">
          </div>
        </div>
      </article>
    </div>
    {# TODO: Remove comment and end for loop
      {% %}
    #}
  <div class="columns">
    <div class="column">
      <a class="button is-info is-pulled-right">Create Review</a>
    </div>
  </div>
{% endblock %}