{% extends('layout.html') %}

{% block content %}
  <div>
    <h1>{{ employer['name'] }}</h1>
    <div class="description">
      <p>{{ employer['description'] }}</p>
    </div>
  </div>

  {{ show_jobs(jobs) }}

  <h2>Jobs</h2>

  <h2>Reviews</h2>
    {% for review in reviews %}
    <div class="box">
      <article class="media">
        <div class="media-left">
          {% for _ in range(1, review['rating']): %}
            <span class="fa fa_star checked"></span>
          {% endfor %}
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ review['title'] }}</strong>
              <small>{{ review['status'] }}</small>
              <small>{{ review['date'] }}</small>
              {{ review['review'] }}
            </p>
          </div>
        </div>
      </article>
    </div>
    {% endfor %}
  <div class="columns">
    <div class="column">
      <a class="button is-info is-pulled-right" href="{{ url_for('review', employer_id=employer['id']) }}">Create Review</a>
    </div>
  </div>
{% endblock %}