{% from '_macros.html' import show_job, show_jobs with context %}

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bulma.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/app.css')}}" />
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" />
    <title>Job Board</title>
  </head>
  <body>
    <div class="container top">
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>